*{
    margin: 0;
    padding:0;
}
body{
    overflow: hidden;
}
.gameContainer{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100%;
    height: 100vh;
}

.dino{
    background-image: url(dino.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 200px;
    position: absolute;
    bottom:0;
    left: 52px;
}

.obstacle{
    width: 75px;
    height: 200px;
    background-image: url(obstacle.png);
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 44vw;
}

.animateDino{
    animation: dino 0.6s linear;
}

.obstacleAni{
    animation: obstacleAni 2s linear infinite;
}

.gameOver{
    position: relative;
    top:63px;
    font-size: 53px;
    text-align: center; 
    font-family: 'Ubuntu', sans-serif;
}

#scoreCont{
    font-size: 25px;
    color: #54212f;
    font-weight: bold;
    position: absolute;
    right: 45px;
    top: 31px;
    border: 2px solid black;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 10px;
}

@keyframes dino{
    0%{
        bottom: 0;
    }
    10%{
        bottom: 422px;
    }
    20%{
        bottom: 422px;
    }
    30%{
        bottom: 422px;
    }
    40%{
        bottom: 422px;
    }
    50%{
        bottom: 422px;
    }
    60%{
        bottom: 422px;
    }
    70%{
        bottom: 422px;
    }
    80%{
        bottom: 422px;
    }
    90%{
        bottom: 422px;
    }
    100%{
        bottom: 422px; 
    }
    110%{
        bottom: 422px;
    }
    120%{
        bottom: 422px;
    }
    130%{
        bottom: 422px;
    }
    140%{
        bottom: 422px;
    }
    150%{
        bottom: 422px;
    }
    160%{
        bottom: 422px;
    }
    170%{
        bottom: 422px;
    }
    180%{
        bottom: 422px;
    }
    190%{
        bottom: 422px;
    }
    200%{
        bottom: 422px;
    }
    210%{
        bottom: 422px;
    }
    220%{
        bottom: 422px;
    }
    230%{
        bottom: 422px;
    }
    240%{
        bottom: 422px;
    }
    250%{
        bottom: 422px;
    }
    260%{
        bottom: 422px; 
    }
    270%{
        bottom: 422px;
    }
    280%{
        bottom: 422px;
    }
    290%{
        bottom: 422px;
    }
    300%{
        bottom: 0;
    }
}

@keyframes obstacleAni{
    0%{
        left: 90vw;
    }
    100%{
        left: -10vw;
    }
}
